:root {
  --primary: #26A69A;
  --dark: #0B322E;
  --lightDark: #5C706E;
  --lightGrey: #B8B8B8;
  --lightPrimary: #E3FFFC;
  --primaryWhite: #F7FAFA;
  --darkGrey: #333333;
  --grey: #777777;
  --white: #FFFFFF;
}
